*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
   
}

.hero{
    width: 100%;
    height: 87vh;
    background:#e0e4ef;
    overflow: hidden;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: #fff; 
}
img{
    max-width: 100%;
    max-height: 100%;
}
.logo img{
 width: 100vw;
 height: 90px;
 font-size: larger; 
transform: translateY(-30px);
margin-right: 120px;
box-shadow: 0 5px 7px 0 rgb(0, 0, 0,0.1);
}
.logo a{
    width: 150px;
    height: 110px;
    display: block;
    padding: 20px 0px;
    margin-top: -20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
}
.nav .logo{
    width:200px;
    margin: 10px 0;
    cursor: pointer;
    height: 20px;
    transform: translatex(-10px); 
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    order:1;
    
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0px 10px;
    font-size: 50px;
}
.nav ul li{
    margin: 0px 10px;
    font-size: 20px;
}
.null{
    color: red;
}
.nav ul li a{
    text-decoration: none;
    color:#092050;
    font-size: 25px;
    font-weight: 600;
    transition: all .3s ease;
}
.nav ul li a:hover{
    color:#074b9e;
}
.cta{
    font-size: 25px;
    color: #fff;
}

.nav button{
    
     padding: 12px 14px;
     cursor:pointer;
     background: #ef584d;
     outline: none;
     border: none;
      color: #fff;
     border-radius: 2px;
     margin-left: 10px;
     box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2), 0 6px 20px 0 rgb(0, 0 ,0,0.19);

}
   

/* related to home page */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
  color:red;
    margin-top: 80px;
}

.main .left{
    margin-right: 280px;
    /* margin-bottom: 500px; */
    transform: translateY(-130px);
    float: left;
    
}
.main .left .p{
    font-size: 19px;
    margin-bottom: 30px;
     color: #949191; 
     line-height: 21px;
     text-indent: 14px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.main .left h1{
    font-size: 55px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
 .image{
    width:350px;
    height: 560px;
    /* margin-top: -260px; */
    transform: translateY(-30px);
    margin-left: 40px;   
}
.main .left a{
    padding: 14px 14px;
    background: #ef584d;
    font-size: 20px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2), 0 6px 20px 0 rgb(0, 0 ,0,0.19);
} 

.main .left a:hover{
    background: transparent; 
    color: #242424;
}
.main .right{
    margin-top: -40px;
     float: right;
    }
/* this about projects */
.about-container{
    height: 90vh;
    width: 50%;
    transform:translateX(390px) ;
}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.main1{
    width: 100%;
    height: 60vh;
    margin-left: 130px;
}
.main1 .left{
   transform: translateX(-200px);
    margin-top: 150px;
    font-size: 20px;
}
.h1{
    color: rgb(209, 38, 203);
    margin-top: 120px;
    margin-left: 170px;
    font-size: 60px;
}
.main1 .p{
    font-size: 19px;
    margin-bottom: 30px;
    color: #949191;
}
.left h3{
    margin-top: 45px;
    text-align: center;
    color: #ef584d;
    font-size: 40px;
}
.g{
    font-size: 19px;
    margin-top: -30px;
    color: #949191;
    font-weight: bolder;  
}
.m{
    margin-top: -30px;
    color: #949191;
    transform: translateY(30px);
    font-size: 18px;
    text-align: center;
}
#p{
    font-size: 29px;
   color:orchid;
   margin-left:260px;  
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 80px;
}
#p:hover{
    text-decoration: underline;
    color: orchid;
    
}
.num{
  font-size: 90px;
  margin-bottom:300px;
  transform: translateX(250px);
  text-align: center;
  color:#074b9e;
  font-size: 30px;
  margin-left:-50px;
  
}

/* skills page */
 .main3{
 background-color:#e0e4ef;
 width: 100%;
 height: 90vh;
} 

 .main3 .left{
   
    margin-right: 90px;
    margin-bottom: 10px;
    
} 
.left h4{
  transform: translateY(40px);
  margin-left: 70px;
  text-transform: lowercase;
  color: #ef584d;
  font-size: 30px;
}
.main3 h2{
    font-size: 45px;
  margin-bottom: 30px;
  transform: translateX(50px);
  text-align: center;
  color:#074b9e;
  transform: translateY(30px);

}
.id{
    /* transform: translateY(60px); */
    margin-top:50px;
    margin-left: 70px;
    font-size: 30px;
}
.main3 .right{
margin-top: -300px;
margin-right: 70px;
    float: right;
}
.right{
    margin-bottom: 60px;
}
.right h4{
    transform: translateY(-150px);
    margin-left: 50px;
 text-transform: lowercase;
 color: #ef584d;
 margin-bottom:20px;
 font-size: 30px;
  }

  .id1{
    transform: translateY(-150px);
    margin-bottom:40px;
    margin-left: 50px;
    font-size: 30px;
}

/* contact slide */
footer {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
    color: #555;
  }
  
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .contact-info {
    margin-bottom: 30px;
  }
  
  h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  p {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    font-size: 30px;
    color: #555;
  }
  
  .social-media a:hover {
    color: #333;
  }

  h1 {
    color:orchid;
  }

  p {
    color: #555;
  }

  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: #f2f2f2;
  }

  body.dark-mode h1 {
    color: red;
  }

  body.dark-mode p {
    color: #aaa;
  }

  /* Image style */
  .theme-toggle {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }